#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        Main0 {
            bindings = <
&mt ESCAPE EQUAL          &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5            &trans  &kp NUMBER_6              &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0         &kp MINUS
&caps_word                &kp Q           &kp W         &kp E         &kp R         &kp T                   &trans  &kp Y                     &kp U         &kp I         &kp O         &kp P                &kp BACKSLASH
&mt LEFT_SHIFT BACKSPACE  &kp A           &kp S         &kp D         &kp F         &kp G                   &trans  &kp H                     &kp J         &kp K         &kp L         &kp SEMICOLON        &mt RIGHT_SHIFT SINGLE_QUOTE
&kp LEFT_GUI              &mt LEFT_ALT Z  &kp X         &kp C         &kp V         &kp B                   &trans  &kp N                     &kp M         &kp COMMA     &kp PERIOD    &mt RIGHT_ALT SLASH  &kp RIGHT_CONTROL
&trans                    &trans          &trans        &trans        &lt 1 ENTER   &mt LEFT_CONTROL TAB    &trans  &mt LEFT_SHIFT BACKSPACE  &lt 2 SPACE   &trans        &trans        &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
